@layer components {
  .toggle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  /* .toggle:not(:disabled):hover {} */

  @media (prefers-reduced-motion: reduce) {
    .toggle {
      transition: none;
    }

    .toggle:not(:disabled):hover {
      transform: none;
    }
  }
}
